name: Monorepo CI
on:
  pull_request:
    branches:
      - main
jobs:
  detect-changes:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      changed_dirs: ${{ steps.changed-dirs.outputs.changed_dirs }}
      changed: ${{ steps.changed-dirs.outputs.changed }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get changed directories
        id: changed-dirs
        run: |
          CHANGED_FILES="$(git diff --name-only origin/${{ github.event.pull_request.base.ref }}..${{ github.event.pull_request.head.sha }})"
          CHANGED_DIRS=""
          while IFS= read -r FILE; do
            DIR=$(echo "$FILE" | cut -d/ -f1)
            if [ -d "$DIR" ]; then
              CHANGED_DIRS="$CHANGED_DIRS$DIR\n"
            fi
          done <<< "$CHANGED_FILES"
          echo -e "$CHANGED_DIRS" | uniq | jq -Rsc 'split("\n")[0:-1]' >> input.json
          CHANGED_DIRS=$(cat input.json release-please-config.json \
            | jq -s -r '(.[1].packages | keys) + .[0] | .[]' \
            | sort | uniq -d | jq -Rsc 'split("\n")[0:-1]')
          echo "changed_dirs=$CHANGED_DIRS" >> "$GITHUB_OUTPUT"
          if [ "$(echo "$CHANGED_DIRS" | jq '. | length')" -eq 0 ]; then
            echo "changed=false" >> "$GITHUB_OUTPUT"
          else
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi
          cat "$GITHUB_OUTPUT"
  docker:
    needs: detect-changes
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        changed_dir: ${{ fromJson(needs.detect-changes.outputs.changed_dirs) }}
    defaults:
      run:
        working-directory: ${{ matrix.changed_dir }}
    if: ${{ needs.detect-changes.outputs.changed == 'true' }}
    steps:
      - uses: actions/checkout@v6
      - name: Get Dockerfiles
        id: get-dockerfiles
        run: |
          DOCKERFILES=$(find . -maxdepth 1 -name "Dockerfile.*" | sort | jq -Rsc 'split("\n")[0:-1]')
          echo "dockerfiles=$DOCKERFILES" >> "$GITHUB_OUTPUT"
          cat "$GITHUB_OUTPUT"
      - uses: shiron-dev/actions/matrix-output-write@9e2029b6bf55740748a5eace94dc93d97a1496ba # v1.5.2
        with:
          matrix-step-name: release
          matrix-key: ${{ matrix.changed_dir }}
          outputs: |-
            dockerfiles: ${{ steps.get-dockerfiles.outputs.dockerfiles }}
  docker-read:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: docker
    outputs:
      result: ${{ steps.vars.outputs.result }}
    steps:
      - uses: shiron-dev/actions/matrix-output-read@9e2029b6bf55740748a5eace94dc93d97a1496ba # v1.5.2
        id: read
        with:
          matrix-step-name: release
      - name: Check outputs
        id: vars
        run: |
          echo "result=$(echo '${{ steps.read.outputs.result }}' | jq -c '.[] | [.key as $k | .value.dockerfiles[] | {key: $k, value: .}]')" >> "$GITHUB_OUTPUT"
  docker-build:
    needs: docker-read
    runs-on: ${{ contains(matrix.kv.value, 'arm') && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    timeout-minutes: 360
    strategy:
      matrix:
        kv: ${{ fromJson(needs.docker-read.outputs.result) }}
    name: docker-build ${{ matrix.kv.key }} (${{ matrix.kv.value }})
    steps:
      - uses: actions/checkout@v6
      - name: Set outputs
        id: vars
        run: |
          echo "platform=$(./scripts/get_platform.sh ${{ matrix.kv.key }}/${{ matrix.kv.value }})" >> "$GITHUB_OUTPUT"
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build
        with:
          context: ${{ matrix.kv.key }}
          platforms: ${{ steps.vars.outputs.platform }}
          file: "${{ matrix.kv.key }}/${{ matrix.kv.value }}"
