name: release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write
  packages: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      paths_released: ${{ steps.release.outputs.paths_released }}
      result: ${{ toJSON(steps.release.outputs) }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Release please
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release

  release:
    needs: release-please
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        package: ${{ fromJson(needs.release-please.outputs.paths_released) }}
    defaults:
      run:
        working-directory: ${{ matrix.package }}
    if: ${{ needs.release-please.outputs.paths_released != '[]' }}
    steps:
      - uses: actions/checkout@v6
      - name: Get Dockerfiles
        id: get-dockerfiles
        run: |
          DOCKERFILES=$(find . -maxdepth 1 \( -name "Dockerfile" -o -name "Dockerfile.*" \) | sort | jq -Rsc 'split("\n")[0:-1]')
          echo "dockerfiles=$DOCKERFILES" >> "$GITHUB_OUTPUT"
          cat "$GITHUB_OUTPUT"
      - uses: shiron-dev/actions/matrix-output-write@07414f04b70ca17f5736f93feec90cc20905e009 # v1.6.0
        with:
          matrix-step-name: release
          matrix-key: ${{ matrix.package }}
          outputs: |-
            dockerfiles: ${{ steps.get-dockerfiles.outputs.dockerfiles }}

  release-read:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: release
    outputs:
      result: ${{ steps.vars.outputs.result }}
    steps:
      - uses: shiron-dev/actions/matrix-output-read@07414f04b70ca17f5736f93feec90cc20905e009 # v1.6.0
        id: read
        with:
          matrix-step-name: release
      - name: Check outputs
        id: vars
        run: |
          echo "result=$(echo '${{ steps.read.outputs.result }}' | jq -c '[.[] | .key as $k | .value.dockerfiles[] | {key: $k, value: .}]')" >> "$GITHUB_OUTPUT"

  docker-build:
    needs: release-read
    runs-on: ${{ contains(matrix.kv.value, 'arm') && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    timeout-minutes: 360
    strategy:
      matrix:
        kv: ${{ fromJson(needs.release-read.outputs.result) }}
    name: docker-build ${{ matrix.kv.key }} (${{ matrix.kv.value }})
    steps:
      - uses: actions/checkout@v6
      - name: Set outputs
        id: vars
        run: |
          {
            echo "tag=$(jq -r '.["${{ matrix.kv.key }}"]' .release-please-manifest.json)"
            echo "platform=$(./scripts/get_platform.sh ${{ matrix.kv.key }}/${{ matrix.kv.value }})"
            echo "ghcr_repo=ghcr.io/${{ github.repository_owner }}/${{ matrix.kv.key }}"
          } >> "$GITHUB_OUTPUT"
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ${{ steps.vars.outputs.ghcr_repo }}
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - run: echo "${{ steps.vars.outputs.platform }}"
      - name: Build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        id: build
        with:
          provenance: false
          context: ${{ matrix.kv.key }}
          platforms: ${{ steps.vars.outputs.platform }}
          file: "${{ matrix.kv.key }}/${{ matrix.kv.value }}"
          outputs: type=image,"name=${{ steps.vars.outputs.ghcr_repo }}",push-by-digest=true,name-canonical=true,push=true
      # - id: build
      #   run: |
      #     echo "digest=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)" >> "$GITHUB_OUTPUT"
      - uses: shiron-dev/actions/matrix-output-write@07414f04b70ca17f5736f93feec90cc20905e009 # v1.6.0
        with:
          matrix-step-name: docker-build
          matrix-key: ${{ matrix.kv.key }}
          outputs: |-
            dockerfile: ${{ matrix.kv.value }}
            digest: ${{ steps.build.outputs.digest }}

  docker-build-read:
    needs: docker-build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      result: ${{ steps.vars.outputs.result }}
    steps:
      - uses: shiron-dev/actions/matrix-output-read@07414f04b70ca17f5736f93feec90cc20905e009 # v1.6.0
        id: read
        with:
          matrix-step-name: docker-build
      - name: Check outputs
        id: vars
        run: |
          echo '${{ steps.read.outputs.result }}'
          echo "result=$(echo '${{ steps.read.outputs.result }}' | jq -c '[{key: "kali-linux", values: (map(.value.digest))}]')" >> "$GITHUB_OUTPUT"

  docker-merge:
    needs:
      - docker-build-read
      - release-please
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        kv: ${{ fromJson(needs.docker-build-read.outputs.result) }}
    name: docker-merge ${{ matrix.kv.key }}
    env:
      MAJOR_KEY: ${{ matrix.kv.key }}--major
      MINOR_KEY: ${{ matrix.kv.key }}--minor
      PATCH_KEY: ${{ matrix.kv.key }}--patch
    steps:
      - run: |
          echo '${{ needs.docker-build-read.outputs.result }}'
          echo '${{ matrix.kv }}'
          echo '${{ matrix.kv.key }}'
          echo '${{ toJSON(matrix.kv.values) }}'
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ matrix.kv.key }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=raw,value=${{ fromJSON(needs.release-please.outputs.result)[ env.MAJOR_KEY ] }}.${{ fromJSON(needs.release-please.outputs.result)[ env.MINOR_KEY ] }}
            type=raw,value=${{ fromJSON(needs.release-please.outputs.result)[ env.MAJOR_KEY ] }}.${{ fromJSON(needs.release-please.outputs.result)[ env.MINOR_KEY ] }}.${{ fromJSON(needs.release-please.outputs.result)[ env.PATCH_KEY ] }}
            type=raw,value=latest
      - name: Create manifest list and push
        run: |
          # shellcheck disable=SC2046
          docker buildx imagetools create $(echo "$DOCKER_METADATA_OUTPUT_JSON" | jq -cr '.tags | map("-t " + .) | join(" ")') \
            $(printf 'ghcr.io/${{ github.repository_owner }}/${{ matrix.kv.key }}@%s ' $(echo '${{ toJSON(matrix.kv.values) }}' | jq -r '.[]'))
